# Test Environment Variables
# Test veritabanı kullanmayı unutma!

NODE_ENV=test
PORT=4201

# Ayrı bir test veritabanı kullan!
DATABASE_URL="postgresql://username:password@ep-xxxxx-pooler.c-6.us-east-1.aws.neon.tech/test_database?sslmode=require&channel_binding=require"

# Aynı secret'ları kullanabilirsin (test ortamı)
JWT_SECRET=test_jwt_secret_key_for_testing_only
REFRESH_TOKEN_SECRET=test_refresh_secret_key_for_testing_only
